*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
}

.raya{
    width:600px;
    margin:10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height:400px;
    background-color: #E0D8D6;
}
.header{
    background-image: url(./img/hero.jpg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 40vh;
    margin: 0;
    padding-top: 60vh;
}
.heading {
    color: #ffffff;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: 6em;
    font-weight: normal;
    text-shadow: 0 0 10px #000;
}
.heading-subtext{
    color: #fff;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: .6em;
}
.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 1em;
}
.sub-heading{
    font-family: 'Caveat', cursive;
    font-size: 3em;
    margin-top: 2em;
}
.details{
    margin: 0 auto 8em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image{
    width: 80%
}
.raya{
    border-radius: 25px;
    width:100%;
    margin:0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height:500px;
    background-color: #ffffff;
    margin-top: 3em;
    padding-top: 4em;
    font-style: italic;
    font-weight: bold;
}


.buttown{
    border-radius: 25px;
    display: inline-block;
    width:100%;
    margin: 40px 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height:50px;
    background-color: #4CAF50;
    cursor: pointer;
    color: white;
    font-size: 16px;
    display: inline-block;
    margin-top: 3em;
    text-decoration: none;
    font-size: 16px;

  
    
}

.button {
    background-color: #2b9e2f;
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 3em;
    
    width: 100%;
    border-radius: 25px;
    font-weight: bold;

  }

  .button2 {
    background-color: #2b9e2f;
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 3em;
    
    width: 100%;
    border-radius: 25px;
    font-weight: bold;

  }

.button1:hover {
    background-color: #035506;
    color: white;
  }

.footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(255, 249, 229);
    color: rgb(0, 0, 0);
    
  }

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }
  }